@keyframes fade-left {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.fadeleft {
    visibility: visible;
    animation: fade-left  1s;
    animation-timing-function: ease-out;
    p,h2,span {
        animation: flip-horizontal 1.5s;
        animation-timing-function: ease-in-out;
    }
}

@keyframes fade-right {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.faderight {
    visibility: visible;
    animation: fade-right  1s;
    animation-timing-function: ease-out;
    p,h2,span {
        animation: flip-horizontal 1.5s;
        animation-timing-function: ease-in-out;
    }
}

@keyframes fade-up {
    0% {
        opacity: 0;
        transform: translateY(200px)
    }

    100% {
        opacity: 1;
        transform: translateY(0)
    }
}

.fadeup {
    visibility: visible;
    animation: fade-up  1s;
    animation-timing-function: ease-out;
}

@keyframes fade-down {
    0% {
        opacity: 0;
        transform: translateY(-300px)
    }

    100% {
        opacity: 1;
        transform: translateY(0)
    }
}


.fadedown {
    visibility: visible;
    animation: fade-down  1s;
    animation-timing-function: ease-out;
}


@keyframes flip-horizontal {
    0% {
        opacity: 0;
        transform: rotateY(-90deg);
    }
    100% {
        opacity: 1;
        transform: rotateX(0);
    }
}

.fliphorizontal {
    visibility: visible;
    animation: flip-horizontal 1s;
    animation-timing-function: ease-in-out;
    p,h2,span {
        animation: flip-horizontal 1.5s;
        animation-timing-function: ease-in-out;
    }

}

.fadeuptext {
    visibility: visible;
    animation: fade-up 500ms;
    animation-timing-function: ease-in-out;
    p,h2,span {
        animation: flip-horizontal 1.5s;
        animation-timing-function: ease-in-out;
    }
}

.footertextfadeup {
    visibility: visible;
    p,h2,span,a {
        animation: fade-up 1s;
        animation-timing-function: ease-in-out;
    }
}